#ex1{
    letter-spacing: 1px;
    margin-bottom: 25px;
}
#ex2{
    letter-spacing: 3px;
    margin-bottom: 25px;
}
#ex3{
    letter-spacing: -1px;
    margin-bottom: 25px;
}
#ex4{
    word-spacing: 3px;
    margin-bottom: 25px;
}
#ex5{
    word-spacing: 0px;
    margin-bottom: 25px;
}
#ex6{
    text-transform: uppercase;
    margin-bottom: 25px;
}
#ex7 > span{
    text-transform: capitalize;
    margin-bottom: 25px;
}
#ex8{
    text-transform: capitalize;
    margin-bottom: 25px;
}
#ex9{
    text-align-last: right;
}
#ex10 > p::first-letter{
    color:red;
    font-size:30px;
}
#ex11 > p::first-line{
    color:red;
    font-style: italic;
}