/* .parent{
	display: flex;	
	width: 300px;
	height: 300px;
	border: 1px solid red;
	flex-direction: column;
}

.child{
	flex-basis: 100px;  
	border: 1px solid green;
} */

/* .parent{
	display: flex;	
	width: 300px;
	height: 300px;
	border: 1px solid red;
	flex-direction: row;
}

.child{
	flex-basis: 100px;  
	width: 50px;
	border: 1px solid green;
} */

.parent{
	display: flex;	
	width: 300px;
	height: 300px;
	border: 1px solid red;
	flex-direction: column;
}

.child{
	flex-basis: 100px;  
	height: 30px;
	border: 1px solid green;
}


