* {
	box-sizing: border-box;
}
body, p, h1, h2, ol {
	margin: 0;
	padding: 0;
	font-family: Arial;
}
div{
	display: block;
}
.wrapper {
	margin-bottom: 30px;
}
.center {
	width: 840px;
	padding: 10px;
	margin: 0 auto;
}
#header{
	background-color: #008040;
	color: white;
}
#header p{
	text-align: center;
	font-size: 21px;
	margin-bottom: 5px;
}
#header h1{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 7px;
}
#serv h2, #contacts h2, #company h2{
	text-align: center;
	font-size: 27px;
	margin-bottom: 10px;
}
#serv li{
	margin-bottom: 10px;
}
#contacts{
	background-color: #c60304;
	color: white;
}
#contacts p {
	text-align: center;
	margin-bottom: 10px;
}
#company p{
	margin-bottom: 10px;
}
#footer{
	background-color: #ff8040;
	color: white;
}
#footer p{
	text-align: center;
	margin-top: 100px;
	font-size: 12px;
}
