div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin-top: 30px;
    margin-left: 30px;
    transition-property: transform;
    transition-duration: 1s;
}
#ex1:hover{
    transform: rotate(45deg);
}
#ex2:hover{
    transform: scale(1.5);
}
#ex3:hover{
    transform: skew(35deg);
}
#ex4:hover{
    transform: translate(100px);
}
#ex5:hover{
    transform: translate(100px,50px);
}