/* .parent	{
	display: flex;
	width: 300px;
	height: 200px;
	border: 1px solid red;
}
.child {
	width: 100px;
	height: 50px;
	border: 1px solid green;
} */

/* .parent	{
	display: flex;
	width: 100%;
	height: 200px;
	border: 1px solid red;
}
.child {
	width: 100px;
	height: 50px;
	border: 1px solid green;
} */

/* .parent	{
	display: flex;
	width: 100%;
	height: 200px;
	border: 1px solid red;
}
.child {
	width: 100px;
	height: 50px;
	border: 1px solid green;
}

.elem2{
	width: 150px;
} */

.parent	{
	display: flex;
	width: 100%;
	height: 200px;
	border: 1px solid red;
}
.child {
	flex-grow: 1;
	height: 50px;
	border: 1px solid green;
}

.elem2{
	flex-grow: 3;
}