.rect1{
    width: 500px;
    height: 650px;
    margin: 5px auto;
    position: relative;
    border: 1px solid black;
}
.circ{
    width: 150px;
    height: 150px;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    left: 175px;
}
.circ1{
    top: 50px;
    background-color: red;
}
.circ2{
    top: 250px;
    background-color: gold;
}
.circ3{
    top: 440px;
    background-color: green;
}