#elem{
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: green;
    text-align: center;
    font-size: 21px;
    line-height: 50px;
    color: white;
}
.textData{
    padding: 10px;
    width: 600px;
    height: auto;
    margin: 70px auto;
    border: 1px solid green;
}
.child1
{
    width: 100px;
    height: 50px;
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid red;
    text-align: center;
}

