#ex1{
    border: 2px solid green;
    height: 50px;
    text-align: center;
    width: calc(100% - 100px);
    margin-bottom: 25px;
}
#ex2{
    border: 2px solid green;
    height: 50px;
    text-align: center;
    width: calc(50% + 200px);
    margin-bottom: 25px;
}
#ex3{
    border: 2px solid green;
    height: 50px;
    text-align: center;
    width: max(300px, 50%);
    margin-bottom: 25px;
}
#ex4{
    border: 2px solid green;
    height: 50px;
    text-align: center;
    width: min(400px, 30%);
    margin-bottom: 25px;
}