#parent_1{
    display:grid;
    margin-bottom: 30px;
}

#parent_2{
    display:grid;
    grid-template-columns: 200px 200px;
    margin-bottom: 50px;
}

#parent_3{
    display:grid;
    grid-template-columns: 150px 150px 150px;
    margin-bottom: 50px;
}
#parent_4{
    display:grid;
    grid-template-columns: 400px 150px 200px;
    margin-bottom: 50px;
}
#parent_5{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

#parent_6{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
}

#parent_7{
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-bottom: 50px;
}
#parent_8{
    display:grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    margin-bottom: 50px;
}
#parent_9{
    display:grid;
    grid-template-columns: 1fr 1.5fr 2.5fr;
    margin-bottom: 50px;
}
#parent_10{
    display:grid;
    grid-template-columns: 100px 1fr 1fr;
    margin-bottom: 50px;
}
#parent_11{
    display:grid;
    grid-template-columns: 100px 1fr 1.5fr 100px;
    margin-bottom: 50px;
}
#parent_12{
    display:grid;
    grid-template-columns: 20% 1fr 1fr;
    margin-bottom: 50px;
}
#parent_13{
    display:grid;
    grid-template-columns: 100px 20% 1fr 2fr 4fr;
    margin-bottom: 50px;
}
#parent_14{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}
#parent_15{
    display:grid;
    grid-template-columns: repeat(4, 100px) repeat(3, 2fr);
    margin-bottom: 50px;
}
#parent_16{
    display:grid;
    grid-template-columns: repeat(2, 100px) repeat(3, 200px) 1fr repeat(2, 10%);
    margin-bottom: 50px;
}
#parent_17{
    display:grid;
    grid-template-columns: 200px auto;
    margin-bottom: 50px;
}
#parent_18{
    display:grid;
    grid-template-columns: 100px 150px auto;
    margin-bottom: 50px;
}
#parent_19{
    display:grid;
    grid-template-columns: repeat(auto-fill, 250px);
    margin-bottom: 50px;
}
#parent_20{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    margin-bottom: 50px;
}
#parent_21{
    display:grid;
    width: 600px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 50px;
}
#parent_22{
    display:grid;
    width: 500px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 50px;
}
#parent_23{
    display:grid;
    grid-template-rows:100px 150px 200px;
    margin-bottom: 50px;
}
#parent_24{
    display:grid;
    grid-template-rows:repeat(auto-fill, 200px);
    height: 600px;
    margin-bottom: 50px;
}
#parent_25{
    display:grid;
    border: 2px solid #696989;
    grid-template: 1fr 2fr / 0.5fr 1fr 1fr 2fr;
    width: 600px;
    height: 200px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_25 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_26{
    display:grid;
    border: 2px solid #696989;
    grid-template: 1fr 2fr / 2fr 1fr 1fr 2fr;
    width: 600px;
    height: 200px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_26 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_27{
    display:grid;
    border: 2px solid #696989;
    grid-template: 1fr 1fr 2fr 4fr / 0.5fr 1.5fr 3fr;
    width: 600px;
    height: 300px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_27 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_28{
    display:grid;
    border: 2px solid #696989;
    grid-template: 4fr 2fr 2fr / 4fr 2fr 4fr 2fr;
    width: 600px;
    height: 300px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_28 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_29{
    display:grid;
    border: 2px solid #696989;
    grid-template: 4fr 1fr / 1fr 1fr 2fr 4fr 4fr;
    width: 600px;
    height: 300px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_29 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_30{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_30 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem301{
    grid-row: 1/2;
}
#elem302{
    grid-row: 2/3;
}
#elem303{
    grid-row: 1/2;
}
#elem304{
    grid-row: 2/4; 
}
#elem305{
    grid-row: 3/4;
}
#parent_31{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_31 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem311{
    grid-row: 1/5;
}
#elem312{
    grid-row: 1/2;
}
#elem313{
    grid-row: 2/3;
}
#elem314{
    grid-row: 3/4; 
}
#elem315{
    grid-row: 4/5; 
}
#parent_32{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_32 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem321{
    grid-row: 1/2; 
}
#elem322{
    grid-row: 1/3; 
}
#elem323{
    grid-row: 2/3; 
}
#elem324{
    grid-row: 3/5;   
}
#elem325{
    grid-row: 3/5; 
}
#parent_33{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_33 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem331{
    grid-column: 1/2;
}
#elem332{
    grid-column: 2/4;
}
#elem333{
    grid-column: 1/3;
}
#elem334{
    grid-column: 3/4;
}
#parent_34{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_34 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem341{
    grid-column: 1/4;
}
#elem342{
    grid-column: 1/2;
}
#elem343{
    grid-column: 2/3;
}
#elem344{
    grid-column: 3/4;
}
#elem345{
    grid-column: 1/4;
}
#parent_35{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_35 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem351{
    grid-column: 1/2;
}
#elem352{
    grid-column: 2/5;
}
#elem353{
    grid-column: 5/6;
}
#elem354{
    grid-column: 1/3;
}
#elem355{
    grid-column: 3/6;
}
#elem356{
    grid-column: 1/4;
}
#elem357{
    grid-column: 4/6;
}

#parent_36{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_36 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem361{
    grid-row: 1/2;
    grid-column: 1/2;
}
#elem362{
    grid-row: 1/2;
    grid-column: 2/3;
}
#elem363{
    grid-row: 1/2;
    grid-column: 3/4;
}
#elem364{
    grid-row: 2/3;
    grid-column: 1/3;
}
#elem365{
    grid-row: 2/3;
    grid-column: 3/3;
}
#elem366{
    grid-row: 3/4;
    grid-column: 1/4;
}

#parent_37{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_37 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem371{
    grid-row: 1/3;
    grid-column: 1/3;
}
#elem372{
    grid-row: 1/3;
    grid-column: 3/4;
}
#elem373{
    grid-row: 2/3;
    grid-column: 3/4;
}
#elem374{
    grid-row: 3/4;
    grid-column: 2/4;
}
#elem375{
    grid-row: 3/4;
    grid-column: 1/2;
}
#elem376{
    grid-row: 4/6;
    grid-column: 1/4;
}

#parent_38{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_38 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem381{
    grid-column: 1/3;
}
#elem382{
    grid-column: 2/4;
}
#elem383{
    grid-column: 3/5;
}

#parent_39{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_39 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem391{
    grid-column: 1/3;
}
#elem392{
    grid-column: 2/5;
}
#elem393{
    grid-column: 1/4; 
}
#elem394{
    grid-column: 3/5; 
}
#elem395{
    grid-column: 1/4; 
}

#parent_310{
    display:grid;
    border: 2px solid #696989;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_310 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#elem3101{
    grid-column: 1/3;
}
#elem3102{
    grid-column: 3/5;
}
#elem3103{
    grid-column: 2/4; 
}
#elem3104{
    grid-column: 1/3; 
}
#elem3105{
    grid-column: 2/5; 
}
#parent_40{
    display:grid;
    border: 2px solid #696989;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    column-gap: 20%;
    width: 600px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_40 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_41{
    display:grid;
    border: 2px solid #696989;
    grid-template-rows: repeat(3, 1fr) ;
    row-gap: 25%;
    width: 600px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_41 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_42{
    display:grid;
    border: 2px solid #696989;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr) ;
    gap: 10px;
    width: 600px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_42 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_43{
    display:grid;
    border: 2px solid #696989;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr) ;
    gap: 5% 10px;
    width: 800px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_43 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_44{
    display:grid;
    border: 2px solid #696989;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr) ;
    gap: 10px;
    width: 800px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_44 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_45{
    display:grid;
    border: 2px solid #696989;
    grid-template: repeat(3, 1fr)/ 10% 10% 30% auto ;
    gap: 10px;
    width: 600px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_45 > div{
    border: 1px solid #696989;
    padding: 10px;
}
#parent_46{
    display:grid;
    border: 2px solid #696989;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr) ;
    gap: 10px;
    width: 600px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px
}
#parent_46 > div{
    border: 1px solid #696989;
    padding: 10px;
}