.rect1{
    width: 700px;
    height: 650px;
    border: 1px solid green;
    margin: 5px auto;
    position: relative;
}
.rect2{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    position: absolute;
    left: 250px;
    top: 230px;
}