#elem{
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: green;
    text-align: center;
    font-size: 21px;
    line-height: 50px;
    color: white;
}
.parent{
    width: 900px;
    height: 350px;
    margin: 70px auto;
    border: 1px solid green;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
}
.child{
    border: 1px solid red;
    margin-bottom: 15px;
}
