#menu{
    display: flex;
	justify-content: center;
	margin-bottom: 20px;
	background-color: #18a273;
}
#menu a{
    border: 1px solid #18a273;
    text-align: center;
    color: white;
    background-color: #18a273;
	padding: 15px 25px;
	margin: 0 5px;
	font: bold 15px Arial;
	text-decoration: none;
}

#menu a:hover, #menu a.active{
	color: white;
	background-color: #16785c;
}
#wrapper{
	margin: 50px auto;
	width: 800px;
	border: 1px solid #18a273;
}

#content {
	padding: 0 30px 20px;
}
#content h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}
#content p {
	padding: 0 10px;
	margin-bottom: 5px;
	font: 18px/1.3 Arial;
	text-align: justify;
	text-indent: 30px;
}