.about-section {
    padding: 0 196px 476px 0;

    &-descr {
        text-align: left;
        color: rgb(255, 255, 255);
        font-family: "Karla";
        font-size: 30px;
        font-weight: 400;
        padding-top: 358px;
        padding-left: 275px;
    }
}