.store-section {
    background: rgb(213, 48, 5);
    font-family: "Montserrat";

    &__content {
        padding-left: 19px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
            &_btns-block {
                display: flex;
                gap: 48px;
                flex-direction: column;
                align-items: center;

                .store-section__content-left_btn {
                    max-width: 200px;
                    width: 100%;
                    border-radius: 30px;
                    font-family: "Montserrat";
                    font-size: 20px;
                    font-weight: 400;
                    padding: 5px 30px;
                    cursor: pointer;
                }

                .store-section__btn_black {
                    border: 1px solid rgba(0, 0, 0, 0.7);
                    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.1), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    background: rgba(2, 2, 2, 0.9);
                    color: rgb(255, 255, 255);
                }

                .store-section__btn_white {
                    border: 1px solid rgba(0, 0, 0, 0.7);
                    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.1), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    background: rgb(227, 227, 227);
                    color: rgb(0, 0, 0);
                }
            }

            &_descr-block {
                padding-top: 135px;

                &__title {
                    color: rgb(255, 255, 255);
                    font-size: 21px;
                    font-weight: 600;
                }

                &__text {
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                    max-width: 431px;
                    width: 100%;
                    color: #FFFFFF;
                    padding-top: 17px;

                    &__link {
                        color: #040404;
                        text-align: left;
                        text-decoration: underline;
                    }
                }
            }
        }

        &-right {
            background-image: url('../img/Device\ -\ Macbook\ Pro.png');
            background-position: center;
            background-repeat: no-repeat;
            max-width: 1002px;
            width: 100%;
            min-height: 732px;
            height: 100%;
        }
    }
}