#elem{
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: green;
    text-align: center;
    font-size: 21px;
    line-height: 50px;
    color: white;
}
.textData{
    padding: 10px;
    width: 600px;
    height: auto;
    margin: 70px auto;
    border: 1px solid green;
}
.img_l{
    float:left;
    margin-right: 15px;
}
.img_r{
    float: right;
    margin-left: 15px;
}