/* @media (max-width:800px){
	p {
		font-size: 20px;
	}
}

@media (min-width:800px){
	p {
		font-size: 30px;
	}
} */

@media (max-width:500px){
	p {
		font-size: 15px;
	}
}

@media (min-width:500px) and (max-width:900px){
	p {
		font-size: 20px;
	}
}

@media (min-width:900px){
	p {
		font-size: 30px;
	}
}