.rect1{
    width: 700px;
    height: 650px;
    margin: 5px auto;
    position: relative;
    background-color: #4dee99;
}
.rect2{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 565px;
    top: 505px;
    background-color: #ffffff;
}