#elem{
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: green;
    text-align: center;
    font-size: 21px;
    line-height: 50px;
    color: white;
}
.parent{
    width: 908px;
    height: 407px;
    margin: 70px auto;
    border: 1px solid red;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
}
.child{
    width: 127px;
    height: 63px;
    border: 1px solid green;
}
.ord1{
    order:1
}
.ord2{
    order: 2;
}
.ord3{
    order: 3;
}