body, p, h1, h2, ul {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrapper{
    width: 890px;
    margin: 0 auto;
    display: flex;
}
header{
    background-color: #F8AA03;
    height: 50px;
}
#menu{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
#menu a:link, #menu a:visited{
    color: #FFFFFF;
    text-decoration: none;
}
#menu a:hover, #menu a.active{
    text-decoration: underline;
}
nav a{
    margin-right: 20px;
    font-size: 18px;
}
main{
    width:530px;
    text-align: justify;
    padding: 20px 10px 20px 20px;
    box-sizing: border-box;
}
main h1{
    font-size: 21px;
}
main p{
    margin: 10px 0px;
}
main h2 {
    font-size: 19px;
    margin-top: 20px;
}
.price{
    margin-top: 10px;
    width: 500px;
}
table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.price th {
    background-color: #EBEBEB;
}
.price td, .price th {
    border: 1px solid #000000;
    text-align: center;
}
main img {
    width: 500px;
    height: 350px;
    background-size: contain;
}
aside {
    width: 360px;
    background-color: #ffffff;
    padding: 20px 20px 20px 10px;
    box-sizing: border-box;
}
aside>div {
	margin: 20px 20px 0 0;
}

aside h2 {
	font-size: 17px;
	margin-bottom: 10px;
}

aside p,
aside li {
	font-size: 16px;
	text-align: justify;
	margin-bottom: 10px;
}

aside ul {
	list-style-type: none
}

footer {
    color: #ffffff;
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: center;
    background-color: #F8AA03;
}