#menu{
    display: flex;
}
#menu a{
    border: 1px solid #1437ad;
    text-align: center;
    color: #1437ad;
    background-color: white;
    margin-right: 5px;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
}

#menu a:hover{
	color: blue;
	border: 1px solid blue;
	background-color: #F5F6FA;
}