#elem{
    position: absolute;
    width: 550px;
    height: 400px;;
    left: 10px;
    top: 100px;
    bottom: 50px;
    right: 200px;
    border: 1px solid green;
    margin: auto auto;
}
.rect1{
    position: absolute;
    width: 50px;
    height: 50px;;
    left: -80px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border: 1px solid red;
}
.rect2{
    position: absolute;
    width: 50px;
    height: 50px;;
    left: 580px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border: 1px solid red;
}