/* section {
	font-size: 10px;
}
div {
	font-size: 2em;
	margin: 2em;
} */

/* section {
	font-size: 10px;
}
div {
	font-size: 2em;
	margin: 3em;
} */
/* 
section {
	font-size: 10px;
}
div {
	font-size: 2em;
	margin: 0.5em;
} */

/* section {
	font-size: 10px;
}
div {
	font-size: 2em;
}
p {
	font-size: 2em;
	margin: 2em;
} */

section {
	font-size: 10px;
}
div {
	font-size: 1.5em;
}
p {
	font-size: 1em;
	margin: 1.5em;
}