main {
	/* margin: 64px auto 32px; */
	margin: 4rem auto 2rem; 
}

h1 {
	/* font-size: 32px; */
	font-size: 2rem;
}
section {
	/* font-size: 16px;
	margin-bottom: 32px; */
	font-size: 1rem;
	margin-bottom: 2rem;
}
h2 {
	/* font-size: 24px;
	margin-bottom: 32px; */
	font-size: 1.5rem;
	margin-bottom: 2rem;
}
p {
	/* font-size: 20px;
	margin-bottom: 12px; */
	font-size: 1.25rem;
	margin-bottom: 0.75rem;
}