/* .parent	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	width: 460px;
	border: 1px solid red;
}
.child {
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 1px solid green;
} */

.parent	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	width: 470px;
	border: 1px solid red;
}
.child {
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	border: 1px solid green;
}