h1{
    font-size: 20px;
    color: indigo;
}
h1.header{
    color: maroon;
}
/*
.odd{
    color: red;
}
.eve{
    color:green;
}
.xxx{
    font-size: 30px;
}
.D1{
    color:red;
}
.D2{
    color:green;
}
.D3{
    color:blue;
}
.D4{
    color:black;
}
h2.header {
	color: red;
    font-size: 40px;
}
h3.header{
        color:green;
        font-size:30px;
}
.eee i{
    color:red;
}

.mmm .bbb {
	color:aqua;
}
.mmm h2{
    color:brown;
}
.mmm h2.H_NEW{
    color: green;
}
.mmm h3.h3_N{
    color:goldenrod;
}
.mmm p.ppp{
    font-size: 50px;
}
.p1 .p2 .p3{
    color:chocolate;
    font-size: 45px;
}
p.ex1 {
	color:darkmagenta;
}
p .ex2 {
	color:cyan;
}
.exx3 p.ex3 {
	color: red;
}
.exx4 p .ex4 {
	color: green;
}
.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}
.it {
    font-style: italic;
}
.col {
    color:green;
}
.fam{
    font-family: Impact;
}
.decor{
    text-decoration: line-through;
}
#elem1{
    color:red;
}
#elem2{
    color:green;
}
#elem3{
    color:blue;
}
#elem h2{
    color:green;
}
#el2 .text{
    color:blue;
}
#el3 p.text{
    color:rebeccapurple;
}
#el4 li.text{
    color: crimson;
}
.eee.zzz.ccc{
    color:darkgreen;
    font-size: 55px;
}
.num1.z1{
    color:red;
}
h2.num2.z2{
    color:royalblue;
}
#num3.z3{
    color:seagreen;
}
#id4.num4.z4{
    color: brown;
}
h2#id5.num5{
    color: chartreuse;
}
h5.num6{
    color:darkgoldenrod;
}
h2 .num7{
    color: limegreen;
}
.num9 .z9{
    font-size: 90px;
    color: violet;
}
#elem + li{
    color: green;
}
.elem + li{
    color: green;
}
#elem ~ li{
    color: green;
}
main * p{
    color: green;
}
a:hover{
    color:red;
    text-decoration: none;
}
a:link{
    color:blue;
}
a:visited{
    color:green;
}
a:active{
    color:black;
}
a:hover{
    color:red;
    text-decoration:none;
}

a:link, a:visited, a:active{
    color: blue;
    text-decoration: underline;
}
a {
	color: red;
}
a:hover {
	text-decoration: none;
}
a.zzz {
	color: red;
}
a.zzz:hover {
	text-decoration: none;
}
#block a.zzz {
	color: green;
}
#block a.zzz:hover {
	text-decoration: none;
}
.block a.zzz {
	color: green;
}
.block a.zzz:hover {
	text-decoration: none;
}
li:first-child{
    color: red;
    font-weight: none;
}
li:last-child{
    color: green;
}
li:nth-child(3){
    color: red;
}
li:nth-child(odd){
    color:red;
}
li:nth-child(even){
    color:green;
}
li:nth-child(3n){
    color:red;
}
li:nth-last-child(2){
    color:red;
}
li:only-child{
    color:red;
}
li {
    border: 1px solid red;
    width: 100px;
}
li:empty{
    border: 1px solid blue;
}
li:first-of-type{
    color:green;
}
li:last-of-type{
    color:hotpink;
}
li:nth-of-type(odd){
    color:red;
}
li:nth-of-type(even){
    color: seagreen;
}
li:nth-last-of-type(2n)
{
    color:skyblue;
}
li:nth-last-of-type(odd)
{
    color: springgreen;
}
li:only-of-type{
    color:green;
}
li:not(.elem){
    color: green;
}
li:not(:first-child, :last-child){
    color:red;
}*/
.bcg1{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
}
.bcg2{
    background-color:green;
    color: white;
    font-size: 30px;
    text-align: center;
}
.brd1{
    border-width: 5px;
    border-color:blue;
    border-style: solid;  
    width: 300px;
    height: 200px;  
}
.brd2{
    border-color: red;
    border-style: dotted;
}
.brd3{
    border-style: dashed;
    border-color: yellow;
}
.brd4{
    border-style: double;
    border-width: 10px;
}
.brd5{
    border: 1px solid red;
}
.brd6{
    border: 2px dotted blue;
}
.brd7{
    border: 3px dashed green;
}
.brd8{
    border: 7px double rgb(255, 166, 0);
}
.brd9{
    border-left: 3px solid gold;
    border-top: 3px solid blue;
    border-right: 3px solid green;
    border-bottom: 3px solid red;
}
.brd10{
    border-left: 3px solid red;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    border-right: 3px dotted green;
}
.radius{
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 30px;
}
.color_bgrd{
    background-color: green;
}
.rad{
    border-radius: 100px;
}
.rad1{
    border-radius: 10px 20px 30px 40px;
}
.rad2{
    border-radius: 10px 20px;
}
.rad3{
    border-radius: 10px 30px 15px;
}
.rad4{
    border-radius: 50%;
}
.img{
    width: 500px;
    height: 280px;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: auto;
    
}
.img1{
    background-image: url("bg.png");
    background-attachment: local;
}
.img2{
    background: url("bg.png") repeat scroll;
}
.ul_style1{
    list-style-type: square;
}
.ul_style2{
    list-style-type: circle;
}
.parent{
    width:400px;
    height: 300px;
    border: 3px dashed blue;
}
.child{
    width: 300px;
    height: 200px;
    border:2px dotted green;
    margin: 40px;
}
.child1{
    width: 200px;
    height: 100px;
    border: 1px solid red;
    margin:50px;
}
.pr{
    width: 200px;
    height: 300px;
    border: 2px dotted green;
}
.ch{
    width: 70px;
    height: 70px;
    border: 1px solid red;
    margin-top: 90px;
    margin-left: 55px;
}
.ch1{
    margin-left: 60px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.r1{
    width: 200px;
    height: 280px;
    border: 2px solid gold;
    margin:30px;
}
.r3{
    width: 500px;
    height: 210px;
    background: grey;
}
.r1_1{
    border: 2px solid rgb(23, 107, 15);
}
.r2{
    width:50px;
    height: 50px;
    border: 2px dashed blue;
    margin: 10px auto 10px auto;
}
.r2_1{
    width:100px;
}
.r3_1{
    width: 200px;
}
.r3{
    margin: 20px 25px;
}
.t1{
    font-size: 15px;
    padding: 15px;
}
.t2{
    padding: 5px;
}
.t3{
    padding-left:5px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-indent: 30px;
    box-sizing: border-box;
}
.t4{
    padding: 30px 15px 13px 40px;
}
.t5{
    padding: 5px 30px 7px;
}
.t6{
    padding: 20px 30px;
}
.elem {
	width: 100px;
	height: 100px;
	border: 1px solid red;
    display: inline-block;
}
.hr {
	padding: 10px 0;
	border: 1px solid red;
    text-align: center;
}
.hr1 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
}
.hr2{
    padding: 5px;
    box-sizing: border-box;
}
.h3 {
    padding: 10px 0;
    border: 1px solid red;
    text-align: center;
}
.hr3_1 {
    padding: 10px;
    border: 1px solid green;
    display: inline-block;
    margin: 5px 5px;
}
.r4{
    width: 500px;
    border: 1px solid red;
}
.r5{
    height: 100px;
    border: 1px solid red;
}
.h3_2{
    width: 55px;
    height: 50px;
    border: 1px solid green;
}
.kv{
    width: 30px;
    height: 30px;
    position: absolute;
}
.kv1{
    border: 1px solid red;
    left: 30px;
    top: 27110px;
}
.kv2{
    border: 1px solid blue;
    left: 82px;
    top: 27152px;
}
.kv3{
    border: 1px solid green;
    left: 134px;
    top: 27194px;
}
#elem1 {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #FF8888;
    position: relative;
    top:400px;
    left:10px;
}
#elem2 {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #7E89EB;
    position: relative;
    top:350px;
    left:50px;
}
#elem3 {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #4DEE99;
    position: relative;
    top:300px;
    left:90px;
}

