#menu{
    display: flex;
}
#menu a{
    border: 1px solid #18a273;
    text-align: center;
    color: white;
    background-color: #18a273;
    margin-right: 5px;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
}

#menu a:hover, #menu a.active{
	color: #18a273;
	border: 1px solid #18a273;
	background-color: white;
}